<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9B0D9991E9DF9970024361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B0D9B21E9DF9970024361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B0D9BD1E9DF9970024361F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
